{require_otp_vsn, "R1[456]B|17|18"}.

{erl_opts,
 [fail_on_warning,
  {parse_transform, lager_transform}]}.

{deps_dir, "../deps"}.
{deps, [ lager, of_config, of_msg_lib, of_protocol, ofs_handler, of_driver

       ]
}.

{sub_dirs,
 ["apps/icontrol",
  "rel"]
}.
{cover_enabled, true}.
{cover_print_enabled, true}.

{eunit_opts, [verbose]}.
{eunit_compile_opts, [{i, "../"}]}.
